.boxes {
  width: 1000px;
  padding: 20px;
  margin: 5px auto;
  /* background-color: rgba(85, 82, 82, 0.120); */
  background-color: white;
  align-items: center;
  justify-content: center;
  border: 1px solid;
  border-color: black;
  border-radius: 2px;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.3);
}

.boxes-notifications {
  width: 1000px;
  height: 140px;
  padding: 20px;
  margin: 6px auto;
  /* background-color: rgba(85, 82, 82, 0.120); */
  background-color: white;
  align-items: center;
  justify-content: center;
  border: 1px solid;
  border-color: black;
  border-radius: 2px;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.3);
}

.icon-notifications {
  position: inherit;
  translate: 3859% -240%;
  font-size: 25px;
  size: 150px;
  color: black;
  cursor: pointer;
}

.icon-mail-details {
  position: inherit;
  translate: 3829% -30%;
  font-size: 25px;
  size: 150px;
  color: black;
  cursor: pointer;
}



.h3-notifications {
  cursor: pointer;
  text-decoration: black 25px;
}

.p-notifications {
  cursor: pointer;
  max-height: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.message-container {
  max-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.p-center{
  margin: auto;
  align-items: center;
  align-content: center;
}