* {
  font-family: "Poppins", sans-serrif;
  margin: 0;
  box-sizing: border-box;
}

/* body {
  font-family: "Poppins", sans-serrif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/src/components/assets/logo-design.png);
  background-repeat: no-repeat;
  background-size: fill;
  background-position: 1px -10px;
} */

.sign-up-page {
  font-family: "Poppins", sans-serrif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/src/components/assets/logo-design.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 1px -10px;
  height: 880px;
  width: 1473px;
  overflow: hidden;
}

.login-page,
.verify-page,
.reset-password-page,
.confirm-reset-password-page {
  font-family: "Poppins", sans-serrif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/src/components/assets/logo-design.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 1px -10px;
  height: 755px;
  width: 1487px;
  overflow: hidden;
}

.form-sign-up {
  position: relative;
  left: 420px;
  width: 420px;
  height: 710px;
  margin: 0 auto;
  padding: 60px;
  border-radius: 15px;
  background-color: rgba(85, 82, 82, 0.24);
  align-items: center;
  border: 82px;
  border-color: black;
}

.form-login {
  position: relative;
  bottom: 30px;
  left: 420px;
  width: 420px;
  height: 540px;
  padding: 60px;
  border-radius: 15px;
  background-color: rgba(85, 82, 82, 0.24);
  align-items: center;
  border: 82px;
  border-color: black;
  /* background: rgb(218, 217, 217);  */
}

.form-verify {
  position: relative;
  left: 420px;
  width: 420px;
  height: 386px;
  bottom: 40px;
  margin: 0 auto;
  padding: 60px;
  border-radius: 15px;
  background-color: rgba(85, 82, 82, 0.24);
  align-items: center;
  border: 82px;
  border-color: black;
}

.form-reset-password {
  position: relative;
  left: 420px;
  width: 420px;
  height: 310px;
  bottom: 70px;
  margin: 0 auto;
  padding: 60px;
  border-radius: 15px;
  background-color: rgba(85, 82, 82, 0.24);
  align-items: center;
  border: 82px;
  border-color: black;
}

.form-confirm-reset-password {
  position: relative;
  left: 420px;
  width: 420px;
  height: 655px;
  margin: 0 auto;
  padding: 60px;
  border-radius: 15px;
  background-color: rgba(85, 82, 82, 0.24);
  align-items: center;
  border: 82px;
  border-color: black;
}


h1 {
  font-size: 36px;
  text-align: center;
  top: -25px;
  position: inherit;
}

h2 {
  font-size: 22px;
  font-weight: 800;
}


h3 {
  font-size: 20px;
  font-weight: 600;
}

/* Styles for the form fields and labels */
form div {
  position: inherit;
  top: -20px;
  margin: 0px 1px -15px;
}

label {
  display: block;
  font-weight: 500;
  font-size: 16px;
  height: 10px;
  margin: 12px 0;
  position: relative;
}

input {
  position: relative;
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  padding: 13px 35px 13px;
  border-color: black;
  font-size: 17px;
  border-radius: 10px;
  background: #ffffff;
  display: flex;
  position: relative;
  margin: 0 1px 0;
  flex-direction: row;
  box-sizing: border-box;
}

.icon {
  position: inherit;
  translate: 29% -130%;
  font-size: 16px;
  color: black;
}

span {
  color: #e74c3c;
  font-size: 15px;
  display: block;
  position: inherit;
  top: -18px;
  right: -5px;
}

.error-span {
  color: #e74c3c;
  font-size: 18px;
  display: block;
  position: inherit;
  top: 82px;
  align-items: center;
  text-align: center;
}

.error-span-verify {
  color: #e74c3c;
  font-size: 18px;
  display: block;
  position: inherit;
  top: 32px;
  align-items: center;
  text-align: center;
}

.button {
  padding: 10px 15px;
  transition: background-color 0.3s;
  width: 100%;
  height: 45px;
  background: #2666d0;
  border: none;
  outline: none;
  border-radius: 10px;
  font-size: 16px;
  color: white;
  top: 25px;
  position: inherit;
}

.button:hover {
  cursor: pointer;
}

.navigate-link {
  color: blue;
  align-items: center;
  text-align: center;
  text-decoration: none;
}

.navigate-link:hover {
  text-decoration: underline;
}

.sign-up-div {
  position: relative;
  top: 30px;
  align-items: center;
  text-align: center;
}


.forgot-password-link {
  position: relative;
  align-items: center;
  text-align: center;
  color: blue;
  text-decoration: none;
  left: 91px;
}

.forgot-password-link:hover {
  text-decoration: underline;
}

.button-Google {
  width: 100%;
  height: 45px;
  background: white;
  border: none;
  outline: none;
  border-radius: 10px;
  box-shadow: 0 0 3 black;
  font-size: 16px;
  color: Black;
  cursor: pointer;
  top: 80px;
  position: relative;
  background-image: url(/src/components/assets/google_symbol.png);
  background-repeat: no-repeat;
  background-position: 50px;
}

.dialog-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 170px;
  left: 465px;
}

.dialog-overlay-verify {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 170px;
  left: 505px;
}

.dialog-content {
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  border-radius: 15px;
  background-color: rgba(85, 82, 82, 0.24);
  align-items: center;
  border: 82px;
  border-color: black;
}

.dialog-overlay p {
  margin-bottom: 10px;
}

.dialog-overlay button {
  width: 50%;
  padding: 10px 15px;
  transition: background-color 0.3s;
  margin-right: 10px;
  justify-content: center;
  align-items: center;
  background: #2666d0;
  border: none;
  outline: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;

}

.dialog-overlay-verify button {
  width: 50%;
  padding: 10px 15px;
  transition: background-color 0.3s;
  margin-right: 10px;
  justify-content: center;
  align-items: center;
  background: #2666d0;
  border: none;
  outline: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}